
body {
    /* color:#828282;*/
    color:#777676;
    background-color:fff;
}
.container-fluid{
    margin-left:5px;
    padding: 25px;
}
h3.highlight  {
    padding-top:12px;
    padding-bottom:15px;
    border-bottom:2px solid#B3E181;
}
.list-group-item.active{

    background-color: #b3e181;
    border-color: #b3e181;	
}
.list-group-item.active:hover{
    background-color: #4cae4c;
    border-color: #4cae4c;
}
.btn-primary{
    background-color:#1676a3;
    border-color: #1676a3;
}

.navbar {
    background-color: #1676A3;
    color: #ffffff;
    border: 0;
    border-radius: 0;
    position: fixed;
    z-index: 1031;
    width: 100%;
}

.navbar-nav > li > a {
    color:#fff;
    padding:25px;
    border-left:2px solid #1676A3;
    font-size: 125.5%;
}
.navbar-nav > li > a > span{

    font-size: 106.5%;

}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color:#666666; 
}

.navbar-nav > li:last-child > a {
    border-right:2px solid #1676A3;
}

avbar-nav{
    color: #f0f0f0;
    background-color:transparent;
    opacity:.9;
    border-color:#469DE0;
}

h1 {
    font-size:5em;
    color:#565656;
}


h3.highlight{
    color:#ffebb8;
    font-size: 24px;
    text-align: center 
}


h5.color{
    color:red;

}
h2,h3.color{
    color:#428BCA;

}
.btn-link{
    color:#FFFFFF;

}
.row{
    padding-top:50px;
    background-color:#FFFFFF; 
    border-color:gainsboro;	
    width:90%;
    position:relative;
    margin:auto;
}
.comp{ 	
    margin:12px;
    color:#fff;

}
.til{ 	

    color:#fff;
}
.not{
    background-color:#fff;
    border-radius: 4px;
}
.colr{
    column-rule-style: blue;
}
.login{
    margin-top:106px;

}
.menulog{
    margin-left:80px;
    margin-right:80px;
}
.tam{
    padding: 15px;
    margin: 15px;
}

.complement {
    margin-top: 80px;
    border-radius: 8px;
    height: 1385px;
    background-color: #379dce;
    padding-top: 64px;	

}
@media  (max-width: 768px) { 
    .dropdown{
        margin-top:38px;
    }
    .imp{
        width: 99%;           
    }
}
.dropdown-menu{
    padding:15px;  
    width: 285px;
}
.bootoom{
    padding: 15px;
}
.colo{   
    color:#05496C;
}
.colt:link,.colo:link{
    text-decoration:none; 

}
.colt{  color: #ffffff; }
h3.message{
    color: red;
}
.cont{
    background-color:#428BCA; 
    color:#fff; 
}
.estilo{
    color:#428BCA;
}
.pancol{
    background-color:whitesmoke;
    border-radius: 8px;

}
.btn-success{

}

.com{
    border-radius: 8px;
    background-color:#F5F5F5;
    padding: 8px;
    margin: 8px;

}

.com2{
    border-radius: 4px;
    background-color:#1676A3;
    padding: 7px;
    margin: 7px;	
}
.com3{
    border-radius: 4px;
    background-color:#1676A3;
    height:40px;
    padding-left: 25px;
    padding-top: 4px;
    color:#fff;
   
}

.footer  {
    background-color: #1676A3;
    border-top: 8px solid #fff;
    border-bottom: 8px solid #fff;
    color: #fff;
}
.footerend {
    background-color: #a9e864;
    border-top: 8px solid #1676a3 ;
    color: #1676A3;

}
.accordion{
    background-color:#dcf7d0;
    margin:5px;
    padding:15px;	
    box-shadow: 1px 1px 2px 1px #072741;
    color:#232392;
    border-radius: 6px;
}
.adm{
    color:#428BCA;
}
/*tabs*/
.tab { background: #fff }
.tab .nav > li > a { padding: 18px 15px }
.tab-bg-dark-navy-blue {
    background: #B3E181;
    border-bottom: none;
    padding: 0;
    border-radius: 5px;
}
.tab-bg-dark-navy-blue .nav > li > a:hover,
.tab-bg-dark-navy-blue .nav > li > a:focus {
    background-color: #f4f4f4;
    text-decoration: none;
}
.panel-heading .nav > li > a,
.panel-heading .nav > li.active > a,
.panel-heading .nav > li.active > a:hover,
.panel-heading .nav > li.active > a:focus {
    border-width: 0;
    border-radius: 0;
}
.panel-heading .nav > li > a { color: #1676A3  }
.panel-heading .nav > li.active > a,
.panel-heading .nav > li > a:hover {
    color: #EAEBEC;
    background: #1676A3;
    border-radius: 5px;
}
.panel-heading .nav > li:first-child.active > a,
.panel-heading .nav > li:first-child > a:hover { }
.tab .nav-tabs.nav-justified > li { border-right: 1px solid #f4f4f4 }
.tab .nav-tabs.nav-justified > li:last-child { border-right: none }
.p-head {
    color: #8CC63E;
    font-size: 14px;
    font-weight: 400;
}
.cmt-head {
    font-size: 14px;
    font-weight: 400;
}
.p-thumb img {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 50px;
    width: 50px;
}
.affix{
    position: static;
}
.badge{
    background-color:#B3E181;
    color:#1676A3;
    padding:6px;
}
.badgeadmin{
    background-color:#FFFFFF;
    color:#1676A3;
    padding:6px;
    border-radius: 50%;
    margin-left:-35px;

}
/*testimonial*/
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
} 
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
    color:072741;
}
.form-group .form-control:last-child {
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}
.btn-default{
    height:34px;
}
.titulo{
    margin-left: -30;
    text-align:center;
}
@media screen and (min-width: 768px) {
    #adv-search {
        width: 300px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 300px;
    }
}


/*------------*/
#98FB98
/*------------*/
