
body {
    color:#828282;
    background-color:#F5F5F5;
}
.container-fluid{
    margin-left:5px;
    padding: 25px;
}
h3.highlight  {
    padding-top:12px;
    padding-bottom:15px;
    border-bottom:2px solid#469DE0;
}

.navbar {
    background-color: #469DE0;
    color: #ffffff;
    border: 0;
    border-radius: 0;
    position: fixed;
    z-index: 1031;
    width: 100%;
}

.navbar-nav > li > a {
    color:#fff;
    padding:25px;
    border-left:2px solid #1676A3;
	font-size: 125.5%;
}
.navbar-nav > li > a > span{
   
	font-size: 106.5%;
	
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color:#666666; 
}

.navbar-nav > li:last-child > a {
    border-right:2px solid #1676A3;
}

avbar-nav{
    color: #f0f0f0;
    background-color:transparent;
    opacity:.9;
    border-color:#469DE0;
}

h1 {
    font-size:5em;
    color:#565656;
}

h3,h2{
    margin-top: 0;
    color:#565656;
}

h2,h3.color{
    color:#428BCA;

}

.row{
    margin: 4px;
    padding-top:65px; 
    background-color:#FFFFFF; 
    border-color:gainsboro;
}
.colr{
    column-rule-style: blue;
}

.tam{
    padding: 10px;
    margin: 15px;
}

.complement {     
    background-color: #fff;
    background-color: #F5F5F5;
    padding-top: 65px;
}
@media  (max-width: 768px) { 
    .dropdown{
        margin-top:38px;
    }
    .imp{
        width: 99%;           
    }
}
.dropdown-menu{
    padding:15px;  
    width: 285px;
}
.bootoom{
    padding: 15px;
}
.colo{   
    color:#05496C;
}
.colt:link,.colo:link{
    text-decoration:none; 

}
.colt{  color: #ffffff; }
h3.message{
    color: red;
}
.cont{
    background-color:#05496C; 
    color:#fff; 
}
.estilo{
    color:#428BCA;
}



